@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or a CSS module */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  animation: fadeIn 0.5s ease-out;
}

@keyframes borderColorChange {
  0% { border-color: #3b82f6; } /* Blue */
  25% { border-color: #10b981; } /* Green */
  50% { border-color: #f59e0b; } /* Yellow */
  75% { border-color: #ef4444; } /* Red */
  100% { border-color: #3b82f6; } /* Blue */
}

.chatbot-container {
  background-image: url('/iselogo.png');
  background-size: 100px 100px; /* Adjust size as needed */
  background-repeat: repeat;
  background-blend-mode: multiply;
  background-color: #f0f4f8; /* Base color */
  animation: backgroundColorChange 10s infinite alternate;
}

@keyframes backgroundColorChange {
  0% { background-color: #f0f4f8; }
  25% { background-color: #e0f7fa; }
  50% { background-color: #e8f5e9; }
  75% { background-color: #fff3e0; }
  100% { background-color: #f0f4f8; }
}